*.gz
log.*
postProcessing
*~
processor*
0
[0-9]*
[0-9]*.[0-9]*
constant/extendedFeatureEdgeMesh
*.eMesh
constant/polyMesh/*
*/polyMesh/*
targetMesh
VTK
.setSet

constant/cellToRegion

#Keep original boundary conditions
!0.org

# ParaView
*.OpenFOAM
*.foam

# keep the scripts and gnuplot files
!*.sh       # shells cripts
!*.plt      # gnuplot
!*.png      # pictures and stuff

# keep whatever is in the results folder
!results/*
!graphs/*
